/* Header and navigation design */
.HeaderDesign{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 5fr 10fr ;
  align-content: space-between;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.HeaderDesign ul{
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 5vw;
}
